.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto; 
    margin-top: 40px;
}
.top_btn{
    display: flex;
    gap: 32px;
}
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contact_form form{
    display: flex;
    flex-direction: column;
    gap: 20px

}

.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    
}
.form_control input{
    height: 40px;
    padding: 0 8px;
 }

 .form_control label{
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
    font-size: 14px;
         
}
.submit_btn{
    display: flex;
    justify-content: end;
}
.contact_image{
    display: flex;
    width: 50%;
    height: 50%;
    gap: 10px;
    margin: 0 auto;
    justify-content:center;
    align-items: center;
}
